def plus():
    var=int(input('Enter First Number: '))
    var1=int(input('Enter Second Number: '))

    res=var+var1
    print('\nThe sum is : ',res)
    print('\n')
    main()
def minus():
    var=int(input('Enter First Number: '))
    var1=int(input('Enter Second Number: '))

    res=var-var1
    print('\nThe difference is : ',res)
    print('\n')
    main()
def mul():
    var=int(input('Enter First Number: '))
    var1=int(input('Enter Second Number: '))

    res=var*var1
    print('\nThe product is : ',res)
    print('\n')
    main()
def div():
    var=int(input('Enter First Number: '))
    var1=int(input('Enter Second Number: '))

    res=var/var1
    print('\nThe quotient is : ',res)
    print('\n')
    main()
def main():
    print('===CHOOSE NUMBER BELOW===\n\n 1 to Add\n2 to Minus\n3 to Multiply\n4 to Divide')
    var=str(input('\nEnter Number: '))

    if var=="1":
        plus()
    elif var=="2":
        minus()
    elif var=="3":
        mul()
    elif var=="4":
        div()
    elif var==str:
        print('ERROR! Just only choose 1,2,3,4')
        main()
    else:
        print('ERROR! Just only choose 1,2,3,4')
        main()
main()
    
